<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs template</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1> this is <%= name %> zaman</h1>
    <ul>
        <li> smartphonename = <%= products.title %>  </li>
         <li> price = <%= products.price %>  </li>

    </ul>
    
</body>
</html>